<modal-dialog>
    <div modal-dialog-header>Добавление новой записи</div>
    <div modal-dialog-body > 
        <input class="new-record" placeholder="логин" [(ngModel)]="newRecord.login" >
        <input class="new-record" placeholder="пароль" [(ngModel)]="newRecord.pass" >
        <input class="new-record" placeholder="комментарий" [(ngModel)]="newRecord.comment">
    </div>
    <div modal-dialog-footer>
        <button (click)="addRecord()">Добавить</button>
         
    </div>
</modal-dialog>
