<nav>
    <ul>
      <li>
              <a [routerLink]="['', {outlets: { modal: 'users/add' }} ]">Добавить</a>
      </li>
  
    </ul>
  </nav>

<section class="Record">
  

    <!-- <crud-list [records]="records" (edit)="onEditRecord($event)" (remove)="onRemoveRecord($event)"></crud-list> -->
    <!-- <crud-list  (edit)="onEditRecord($event)" (remove)="onRemoveRecord($event)"></crud-list> -->

    <section class="main-list">
        <ul class="record-list">
            <li *ngFor="let record of recordDataService.records.getValue()" >
                {{record.id}}
                <!-- <crud-list-item [record]="record" ></crud-list-item> -->
            </li>
        </ul>
    </section>
    
    
</section>


