.modal-dialog {
    display: block;
    pointer-events: auto;
    width: 400px;
    position: relative;
    /* top: 10%; */
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    z-index: 200;
    border: 1px solid black;
}

.modal-dialog-heade {
    float: right;
    position: absolute;
    top: -10px;
    right: 3px;


}

.modal-dialog-body {}

.modal-dialog-footer {}

.close {
    float: right;
    cursor: pointer;
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
}