<div class="modal-dialog" (add)="onAddRecord($event)">
    <div class="modal-dialog-content">
        <div class="modal-dialog-header">
            <span class="close" (click)="closeModal()">&times;</span>
            Добавление новой записи
        </div>
        <div class="modal-dialog-body">
            <input class="new-record" placeholder="логин" [(ngModel)]="newRecord.login" >
            <input class="new-record" placeholder="пароль" [(ngModel)]="newRecord.pass" >
            <input class="new-record" placeholder="комментарий" [(ngModel)]="newRecord.comment">
        </div>
        <div class="modal-dialog-footer">
            <button (click)="addRecord(newRecord)">Добавить</button>
        </div>
    </div>
</div>